<!DOCTYPE html>
<html class="controller_<%= controller.controller_name %> action_<%= controller.action_name %>">
  <head>
    <title>Your daily Slack digest - Brief</title>

    <meta name="viewport"           content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
    <meta name="twitter:card"       content="summary">
    <meta name="twitter:site"       content="@getbrief">
    <meta property="og:url"         content="http://brief.io/">
    <meta property="og:title"       content="Your daily Slack digest - Brief">
    <meta property="og:description" content="A daily email digest of top links, keywords, hashtags, and people in channels across your Slack teams.">
    <meta property="og:image"       content="https://pbs.twimg.com/profile_images/661942926402936833/Wn4mOpJc.png">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag %>
    <%= favicon_link_tag 'favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'layouts/google_analytics' if ENV['GOOGLE_ANALYTICS_UA'] %>
    <%= yield %>
    <%= render partial: 'layouts/intercom' if ENV['INTERCOM_APP_ID'] && controller.action_name != 'mockup' %>
  </body>
</html>
