<!DOCTYPE html>
<html class="controller_<%= controller.controller_name %> action_<%= controller.action_name %>">
  <head>
    <title>Your daily Slack digest - Brief</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag %>
    <%= favicon_link_tag 'favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'layouts/google_analytics' if ENV['GOOGLE_ANALYTICS_UA'] %>
    <%= yield %>
    <%= render partial: 'layouts/intercom' if ENV['INTERCOM_APP_ID'] %>
  </body>
</html>
